In [1]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis = 1, inplace = True)
df

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [3]:
target = df.Survived
feat = df.drop('Survived',1)

C:\Users\DELL\AppData\Local\Temp\ipykernel_129620\2332027581.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  feat = df.drop('Survived',1)

In [4]:
dummies = pd.get_dummies(df['Sex'])
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [5]:
feat = pd.concat([feat,dummies],1)
feat = feat.drop('Sex',1)
feat.head(3)

C:\Users\DELL\AppData\Local\Temp\ipykernel_129620\3647281696.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  feat = pd.concat([feat,dummies],1)
C:\Users\DELL\AppData\Local\Temp\ipykernel_129620\3647281696.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  feat = feat.drop('Sex',1)

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0

In [6]:
feat.isnull().sum()

Pclass      0
Age       177
Fare        0
female      0
male        0
dtype: int64

In [7]:
feat.columns[feat.isna().any()]

Index(['Age'], dtype='object')

In [8]:
feat.Age.head(10)

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [9]:
feat.Age = feat.Age.fillna(feat.Age.mean())
feat.Age.head(10)

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: Age, dtype: float64

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(feat,target,test_size=0.2)

In [11]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [12]:
model.fit(x_train,y_train)

GaussianNB()

In [13]:
model.score(x_test,y_test)

0.7821229050279329

In [14]:
x_test[:10]

     Pclass        Age     Fare  female  male
59        3  11.000000  46.9000       0     1
570       2  62.000000  10.5000       0     1
687       3  19.000000  10.1708       0     1
493       1  71.000000  49.5042       0     1
788       3   1.000000  20.5750       0     1
601       3  29.699118   7.8958       0     1
412       1  33.000000  90.0000       1     0
808       2  39.000000  13.0000       0     1
751       3   6.000000  12.4750       0     1
71        3  16.000000  46.9000       1     0

In [15]:
y_test[:10]

59     0
570    1
687    0
493    0
788    1
601    0
412    1
808    0
751    1
71     0
Name: Survived, dtype: int64

In [16]:
model.predict(x_test[:10])

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 1], dtype=int64)

In [17]:
model.predict_proba(x_test[:10])

array([[9.80991727e-01, 1.90082734e-02],
       [9.70952267e-01, 2.90477327e-02],
       [9.90117944e-01, 9.88205641e-03],
       [7.70684082e-01, 2.29315918e-01],
       [9.82632895e-01, 1.73671050e-02],
       [9.91415607e-01, 8.58439292e-03],
       [5.58781739e-04, 9.99441218e-01],
       [9.80161956e-01, 1.98380441e-02],
       [9.85853442e-01, 1.41465575e-02],
       [3.58678476e-02, 9.64132152e-01]])

In [18]:
import pickle

In [20]:
with open("model","wb") as file:
    pickle.dump(model,file)