In [23]:
import pandas as pd
df = pd.read_csv('/content/titanic.csv')
df.head()

   PassengerId  ... Survived
0            1  ...        0
1            2  ...        1
2            3  ...        1
3            4  ...        1
4            5  ...        0

[5 rows x 12 columns]

In [24]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis = 1, inplace = True)
df

     Pclass     Sex   Age     Fare  Survived
0         3    male  22.0   7.2500         0
1         1  female  38.0  71.2833         1
2         3  female  26.0   7.9250         1
3         1  female  35.0  53.1000         1
4         3    male  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2    male  27.0  13.0000         0
887       1  female  19.0  30.0000         1
888       3  female   NaN  23.4500         0
889       1    male  26.0  30.0000         1
890       3    male  32.0   7.7500         0

[891 rows x 5 columns]

In [25]:
target = df.Survived
feat = df.drop('Survived',1)

In [26]:
dummies = pd.get_dummies(df['Sex'])
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [27]:
feat = pd.concat([feat,dummies],1)
feat = feat.drop('Sex',1)
feat.head(3)

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0

In [28]:
feat.isnull().sum()

Pclass      0
Age       177
Fare        0
female      0
male        0
dtype: int64

In [29]:
feat.columns[feat.isna().any()]

Index(['Age'], dtype='object')

In [30]:
feat.Age.head(10)

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [31]:
feat.Age = feat.Age.fillna(feat.Age.mean())
feat.Age.head(10)

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: Age, dtype: float64

In [41]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(feat,target,test_size=0.2)

In [42]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [43]:
model.fit(x_train,y_train)

GaussianNB()

In [44]:
model.score(x_test,y_test)

0.8212290502793296

In [45]:
x_test[:10]

     Pclass        Age      Fare  female  male
885       3  39.000000   29.1250       1     0
481       2  29.699118    0.0000       0     1
172       3   1.000000   11.1333       1     0
746       3  16.000000   20.2500       0     1
184       3   4.000000   22.0250       1     0
108       3  38.000000    7.8958       0     1
268       1  58.000000  153.4625       1     0
151       1  22.000000   66.6000       1     0
278       3   7.000000   29.1250       0     1
856       1  45.000000  164.8667       1     0

In [47]:
y_test[:10]

885    0
481    0
172    1
746    0
184    1
108    0
268    1
151    1
278    0
856    1
Name: Survived, dtype: int64

In [48]:
model.predict(x_test[:10])

array([1, 0, 1, 0, 1, 0, 1, 1, 0, 1])

In [49]:
model.predict_proba(x_test[:10])

array([[7.78572771e-02, 9.22142723e-01],
       [9.72214308e-01, 2.77856922e-02],
       [3.74457957e-02, 9.62554204e-01],
       [9.83618729e-01, 1.63812712e-02],
       [4.10327997e-02, 9.58967200e-01],
       [9.88436044e-01, 1.15639560e-02],
       [1.40422623e-05, 9.99985958e-01],
       [3.85866526e-03, 9.96141335e-01],
       [9.77106306e-01, 2.28936938e-02],
       [4.92499194e-06, 9.99995075e-01]])